.writing-container {
    width : 100%;
    height: 100vh;
    overflow-y : auto;
    background-color: rgba(207, 228, 255, 0.5);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding : 1rem;

    & .writing-created-at {
        margin-top: 4rem;
    }
}