.menu-item {
  & .background-image {
    position: relative;
    height: 700px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    translate: scale 500ms;
    &:hover {
      transform: scale(1.1);
    }
    & .content {
      position: absolute;
      color: blue;
    }
  }
}
