.menu-item {
  overflow: hidden;
  & .background-image {
    position: relative;
    height: 700px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    translate: all 500ms inherit;
    &:hover {
      transform: scale(1.1);
    }
    & .content {
      position: absolute;
      color: blue;
    }
  }
}
