.write-container {
  height: 100vh;
  display: flex;
  flex: 1;
  & .inputs-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    & .head-input {
      height: 6rem;
    }

    & .main-input {
      min-width: 280px;
      max-width: 700px;
      height: 35rem;
    }
  }
}
