.write-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & .inputs-form {
    display: flex;
    flex-direction: column;

    width: 900px;
    & .head-input {
      height: 6rem;
      border: none;
      border-bottom: 2px solid black;
      background-color: rgb(195, 198, 228);
      opacity: 0.8;
      font-weight: 600;
      font-size: 2rem;
      &:focus {
        outline: none;
      }
    }

    & .main-input {
      border: none;
      height: 35rem;
    }
  }
}
