.write-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & .inputs-form {
    display: flex;
    flex-direction: column;

    & .main-input {
      padding: 30rem 10em;
    }
  }
}
