.write-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & .inputs-form {
    display: flex;
    flex-direction: column;

    & .main-input {
      width: 80rem;
      height: 40rem;
    }
  }
}
