@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.writing-card {
    width : 100%;
    display: flex;
    padding : 1rem;
    background-color: rgb(205, 225, 255);
    border-radius: 1rem;
    margin-top: 2rem;

    & .writing-info {
        margin-top : 1rem;
        margin-left : 2rem;
        font-family: "Jua", sans-serif;

        
    }
}