@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.profile-container {
  margin-top: 5rem;
  margin-left: 5rem;
  padding: 6rem;
  font-family: "Jua", sans-serif;

  & .profile-img {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    & .real-input {
      display: none;
    }
  }

  & .user-info {
    font-size: 1.6rem;
    margin-top: 5rem;

    & .user {
      margin-top: 2rem;
    }
  }
}
