.profile-container {
  padding: 6rem;

  & .profile-img {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    & .real-input {
      display: none;
    }
  }

  & .user-info {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
}
