.profile-container {
  padding: 5rem;

  & .profile-img {
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    & .real-input {
      display: none;
    }
  }

  & .user-info {
  }
}
