* {
  box-sizing: content-box;
  margin: 0;
}
.sign-up-page {
  background-color: rgb(163, 88, 214);
  background-color: linear-gradient(
    135deg,
    rgba(163, 88, 214, 1) 0%,
    rgba(244, 99, 99, 1) 54%,
    rgba(255, 198, 118, 1) 95%
  );

  &.form-input {
    display: flex;
    flex-direction: column;
  }
}
