.header-container {
  display: flex;
  position: relative;
  left: 3rem;
  top: 3rem;
  & .logo-img {
    width: 50px;
    height: 50px;
  }

  & .header-element {
    display: flex;
    position: absolute;
    right: 6rem;

    & .header-photocard {
      margin-right: 2rem;
    }

    & .header-sneakers {
      margin-right: 5rem;
    }
  }
}
