@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.header-container {
  display: flex;
  position: relative;
  left: 3rem;
  top: 3rem;
  & .logo-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  & .header-element {
    display: flex;
    position: absolute;
    right: 11rem;
    font-size: 1.3rem;
    line-height: 40px;
    font-weight: 600;
    font-family: "Jua", sans-serif;

    & .header-write {
      text-decoration: none;
      color: rgb(71, 66, 66);
    }

    & .sign-in-btn {
      text-decoration: none;
      color: rgb(71, 66, 66);
    }
    & .header-write {
      margin-right: 2rem;
    }

    & .header-photocard {
      margin-right: 2rem;
      color : rgb(182, 138, 240);
      text-decoration: none;
    }

    & .header-sneakers {
      margin-right: 4rem;
    }
  }
}
