* {
  box-sizing: content-box;
  margin: 0;
}

.menu-item {
  overflow: hidden;
  min-width: 30%;
  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.04);
      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);

      & .content {
        opacity: 0.9;
      }
    }
  }
  & .background-image {
    position: relative;
    height: 700px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & .content {
      position: absolute;
      width: 7.5rem;
      height: 7.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      top: 50%;
      left: 50%;
      background-color: white;
      opacity: 0.7;
      transform: translate(-50%, -50%);
      border-radius: 0.5rem;
      & .title {
        font-weight: bold;
        margin: 0 3px 0;
        font-size: 20px;
        color: #4a4a4a;
        font-family: sans-serif;
      }
    }
  }
}
