@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.empty-collection-page {
    margin-top: 10rem;
    margin-left: 8rem;
    font-size: 2.5rem;
    font-family: "Jua", sans-serif;
}